# DB
DATABASE_URL=mysql+pymysql://user:your_db_password@db:3306/mydatabase
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=mydatabase
MYSQL_USER=user
MYSQL_PASSWORD=your_db_password

# Flask secret key
SECRET_KEY=very_secret_key

# Logger
SCHEDULER=True
DEBUG=True
LOG_ROTATE_DAYS=30

# Session
SESSION_PERMANENT=True
SESSION_TYPE=filesystem
PERMANENT_SESSION_LIFETIME_SECONDS=18000
SESSION_FILE_THRESHOLD=1000000

# IIKO API
IIKO_API_URL=https://api-ru.iiko.services
IIKO_API_TOKEN=iiko_token
IIKO_CACHE_EXPIRATION_MINUTES=-1

# TG
TELEGRAM_TOKEN=token
WEB_APP_URL=https://mandarin.dev.routeam.ru/
